@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Regular.ttf);
}

.grid-1 {
  width: calc(8.33333% - 0px);
}

.grid-2 {
  width: calc(16.66667% - 0px);
}

.grid-3 {
  width: calc(25% - 0px);
}

.grid-4 {
  width: calc(33.33333% - 0px);
}

.grid-5 {
  width: calc(41.66667% - 0px);
}

.grid-6 {
  width: calc(50% - 0px);
}

.grid-7 {
  width: calc(58.33333% - 0px);
}

.grid-8 {
  width: calc(66.66667% - 0px);
}

.grid-9 {
  width: calc(75% - 0px);
}

.grid-10 {
  width: calc(83.33333% - 0px);
}

.grid-11 {
  width: calc(91.66667% - 0px);
}

.grid-12 {
  width: calc(100% - 0px);
}

[class^="grid-"] {
  float: left;
  min-height: 1px;
  margin-left: 0px;
  margin-right: 0px;
}

@media screen and (max-width: 559px) {
  [class^="grid-"] {
    width: 100%;
    float: none;
    margin-right: 0px;
    margin-left: 0px;
  }
}

.offset-1 {
  margin-left: calc(8.33333% + 0px);
}

.offset-2 {
  margin-left: calc(16.66667% + 0px);
}

.offset-3 {
  margin-left: calc(25% + 0px);
}

.offset-4 {
  margin-left: calc(33.33333% + 0px);
}

.offset-5 {
  margin-left: calc(41.66667% + 0px);
}

.offset-6 {
  margin-left: calc(50% + 0px);
}

.offset-7 {
  margin-left: calc(58.33333% + 0px);
}

.offset-8 {
  margin-left: calc(66.66667% + 0px);
}

.offset-9 {
  margin-left: calc(75% + 0px);
}

.offset-10 {
  margin-left: calc(83.33333% + 0px);
}

.offset-11 {
  margin-left: calc(91.66667% + 0px);
}

.offset-12 {
  margin-left: calc(100% + 0px);
}

@media screen and (max-width: 559px) {
  .offset-1, .offset-2, .offset-3, .offset-4, .offset-5, .offset-6, .offset-7, .offset-8, .offset-9, .offset-10, .offset-11, .offset-12 {
    margin-left: 0px;
  }
}

.container {
  max-width: 1366px;
  margin: 0px auto;
  padding-left: 0px;
  padding-righ: 0px;
  position: relative;
}

@media screen and (min-width: 560px) and (max-width: 769px) {
  .container {
    max-width: 770px;
  }
}

@media screen and (max-width: 559px) {
  .container {
    max-width: 560px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.container::after, .container::before {
  content: "";
  display: table;
  clear: both;
}

.row {
  position: relative;
  margin-right: 0px;
  margin-left: 0px;
}

@media screen and (max-width: 559px) {
  .row {
    margin-right: 0px;
    margin-left: 0px;
  }
}

.row::after, .row::before {
  content: "";
  display: table;
  clear: both;
}

/*#fea621*/
/*#df911d*/
body {
  overflow: hidden;
  background-color: #f5f5f5;
}

@media screen and (min-width: 1920px) {
  .all {
    padding: 5% 10%;
  }
}

@media screen and (min-width: 1270px) and (max-width: 1290px) {
  .all {
    padding: 6% 10% !important;
  }
}

@media screen and (min-height: 580px) and (max-height: 600px) {
  .all {
    padding: 4% 10% !important;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1919px) {
  .all {
    padding: 7% 10%;
  }
}

@media screen and (min-width: 770px) and (max-width: 1366px) {
  .all {
    margin-top: calc(50% - 628px);
    padding: 0% 10%;
  }
}

@media screen and (min-width: 560px) and (max-width: 769px) {
  .all {
    margin-top: calc(50% - 37%);
    padding: 5% 10%;
  }
}

@media screen and (max-width: 559px) {
  .all {
    display: initial;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1030px) {
  .all {
    margin-top: calc(50% - 30%);
    padding: 0% 10%;
  }
}

.fotoM {
  position: relative;
  width: 80%;
  padding-top: 20px;
  margin: 0 auto 10px;
  z-index: 1;
}

.fotoM img {
  border: 3px solid #fff;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

.nameM {
  display: block;
  text-align: center;
  color: #fff;
  font-family: "Poppins";
  font-size: 1.875rem;
}

.profM {
  display: block;
  text-align: center;
  color: #fff;
  font-family: "Poppins";
  font-size: 1.5rem;
  line-height: 1;
  font-weight: bold;
  font-weight: initial !important;
}

.caixa-s2 {
  list-style: none;
  padding: 0;
  margin: auto;
  margin-top: 10%;
}

.caixa-s2 li:first-child {
  margin-left: calc(50% - 25%);
}

.caixa-s2 li {
  display: inline-block;
  margin-top: 5px;
  padding: 2px;
}

.caixa-s2 li a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 31px;
  border-radius: 20px;
  cursor: pointer;
}

.caixa-s2 li a :hover, .caixa-s2 li a :focus {
  opacity: 1;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  color: #555555;
}

.caixa-s2 li a img {
  height: 30px;
  width: 30px;
}

.perfil {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(47%, #233653), color-stop(80%, #335384));
  background: linear-gradient(180deg, #233653 47%, #335384 80%);
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  padding: 30px;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 559px) {
  .perfil {
    display: none;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1919px) {
  .perfil {
    height: 80vh;
  }
}

@media screen and (min-width: 1920px) {
  .perfil {
    height: 80vh;
  }
}

@media screen and (min-width: 560px) and (max-width: 769px) {
  .perfil {
    padding: 30px 30px 30px 0px;
  }
}

.perfil .foto {
  position: relative;
  width: 180px;
  margin: 0 auto 30px;
  z-index: 1;
}

@media screen and (max-width: 559px) {
  .perfil .foto {
    width: 300px;
  }
}

@media screen and (min-width: 560px) and (max-width: 769px) {
  .perfil .foto {
    max-width: 76%;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1919px) {
  .perfil .foto {
    width: 300px;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 1920px) {
  .perfil .foto {
    width: 300px;
    margin-top: 3rem;
  }
}

.perfil .foto img {
  border: 3px solid #fff;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

.perfil .name, .perfil .prof {
  display: block;
  text-align: center;
  color: #fff;
}

.perfil .name {
  font-family: "Poppins";
  font-size: 1.875rem;
}

@media screen and (min-width: 1920px) {
  .perfil .name {
    font-family: "Poppins";
    margin-top: 3rem;
  }
}

.perfil .prof {
  font-family: "Poppins";
  font-size: 1.125rem;
  line-height: 1;
}

@media screen and (min-width: 1920px) {
  .perfil .prof {
    font-family: "Poppins";
    font-size: 1.5rem;
    line-height: 1;
    font-weight: bold;
  }
}

.socialWeb {
  list-style: none;
  padding: 0;
  margin: auto;
}

.socialWeb li:first-child {
  margin-left: calc(50% - 30px);
}

.socialWeb li {
  display: inline-block;
  margin-top: 5px;
}

.socialWeb li a {
  text-decoration: none;
  color: #fff;
  font-size: 31px;
  border-radius: 20px;
  cursor: pointer;
}

.socialWeb li a :hover, .socialWeb li a :focus {
  opacity: 1;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  color: #555555;
}

.socialWeb li a img {
  height: 30px;
  width: 30px;
}

.btnDown {
  width: 50%;
  height: 45px;
  text-decoration: none;
  display: block;
  border-radius: 25px;
  border: 2px solid #fff;
  background: transparent;
  text-align: center;
  font-family: "Poppins";
  font-size: 1.125rem;
  line-height: 1;
  color: #fff;
  margin: 0 auto;
  margin-top: 2rem;
  text-transform: capitalize;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  padding-top: 11px;
}

.btnDown:hover, .btnDown:focus {
  background: #fff;
  color: #335384;
  text-decoration: none;
  outline: none;
}

@media screen and (min-width: 560px) and (max-width: 769px) {
  .btnDown {
    width: 80%;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1030px) {
  .btnDown {
    width: 85%;
  }
}

.vbcontent, .about-me, .case, .port, .contato {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0% 3% 0%;
  overflow: auto;
  height: auto;
  margin-left: -30px;
  background: #fff;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
}

@media screen and (min-width: 1920px) {
  .vbcontent, .about-me, .case, .port, .contato {
    height: 80vh;
  }
}

@media screen and (max-width: 559px) {
  .vbcontent, .about-me, .case, .port, .contato {
    border-radius: 0px;
  }
}

.nameA, .profA {
  display: block;
  text-align: center;
}

.nameA {
  text-transform: capitalize;
  font-family: "Poppins";
  font-size: 3.5rem;
  line-height: 1;
  font-weight: bold;
  color: #000000;
}

@media screen and (min-width: 560px) and (max-width: 769px) {
  .nameA {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1919px) {
  .nameA {
    font-size: 4.5rem;
  }
}

@media screen and (min-width: 1920px) {
  .nameA {
    font-size: 5.5rem;
  }
}

.profA {
  text-transform: capitalize;
  font-family: "Poppins";
  font-size: 1.125rem;
  line-height: 1;
  color: #555555;
}

@media screen and (min-width: 1920px) {
  .profA {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 1920px) {
  .profA {
    font-size: 1.5rem;
  }
}

.nameFirst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background-color: #fff;
}

@media screen and (max-width: 559px) {
  .nameFirst {
    display: initial;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    margin-top: 50%;
  }
}

.seletores {
  background: #fff;
  position: fixed;
  right: 10px;
  border-radius: 20px;
}

@media screen and (min-width: 1360px) and (max-width: 1370px) {
  .seletores {
    top: 8.5;
  }
}

@media screen and (max-width: 559px) {
  .seletores {
    display: none;
  }
}

.caixa-s, .caixa-prev {
  list-style-type: none;
  padding: 0px;
  border-radius: 20px;
}

.caixa-s li a, .caixa-prev li a {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  text-decoration: none;
  color: #555555;
  font-size: 20px;
  padding: 15px;
  margin: 0 auto;
  -webkit-transition: .3s;
  transition: .3s;
}

.caixa-s li a:hover, .caixa-s li afocus, .caixa-prev li a:hover, .caixa-prev li afocus {
  color: #335384;
}

.prev-arrow {
  background: #fff;
  position: fixed;
  bottom: 128px;
  right: 10px;
  border-radius: 20px;
}

@media screen and (min-height: 580px) and (max-height: 600px) {
  .prev-arrow {
    bottom: 50px;
  }
}

@media screen and (min-width: 560px) and (max-width: 769px) {
  .prev-arrow {
    bottom: 151px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1030px) {
  .prev-arrow {
    bottom: 180px;
  }
}

@media screen and (max-width: 559px) {
  .prev-arrow {
    background: #f5f5f5;
    bottom: 50px;
  }
}

.caixa-prev {
  list-style-type: none;
  padding: 0px;
  border-radius: 17px;
}

.caixa-prev li a {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  text-decoration: none;
  color: #555555;
  font-size: 15px;
  padding: 20px;
  margin: 0 auto;
  -webkit-transition: .3s;
  transition: .3s;
}

.caixa-prev li a:hover, .caixa-prev li afocus {
  color: #335384;
}

.js [data-target] {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate3d(-50px, 0, 0);
          transform: translate3d(-50px, 0, 0);
  position: absolute;
  top: 0;
}

.js [data-click].active {
  color: #335384;
}

.js [data-target].active {
  height: 72vh;
  opacity: 1;
  visibility: visible;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  top: auto;
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

@media screen and (min-height: 580px) and (max-height: 600px) {
  .js [data-target].active {
    height: 80vh !important;
    overflow-x: clip !important;
  }
}

@media screen and (min-width: 1360px) and (max-width: 1370px) {
  .js [data-target].active {
    height: 80vh !important;
  }
}

@media screen and (max-width: 559px) {
  .js [data-target].active {
    margin-left: 0px;
    height: 100vh;
    overflow-x: hidden;
  }
}

@media screen and (min-width: 1920px) {
  .js [data-target].active {
    height: 80vh;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1919px) {
  .js [data-target].active {
    height: 80vh;
  }
}

.about-me, .port, .case, .contato {
  padding: 50px;
  overflow: auto;
}

@media screen and (min-width: 1270px) and (max-width: 1290px) {
  .about-me, .port, .case, .contato {
    padding: 50px 20px 50px 50px !important;
  }
}

@media screen and (min-width: 560px) and (max-width: 769px) {
  .about-me, .port, .case, .contato {
    padding: 30px 10px 30px 30px !important;
  }
}

@media screen and (max-width: 559px) {
  .about-me, .port, .case, .contato {
    padding: 15px;
  }
}

.titleS {
  font-family: "Poppins";
  font-size: 1.875rem;
  text-align: left;
  color: #000000;
  font-weight: bold;
  text-transform: capitalize;
}

@media screen and (min-width: 1920px) {
  .titleS {
    font-size: 3rem;
  }
}

.titleS::after {
  top: 10px;
  position: absolute;
  opacity: 0.5;
  content: '';
  height: 30px;
  width: 50px;
  background-image: -webkit-repeating-radial-gradient(center center, #335384, #335384 1px, transparent 0px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, #335384, #335384 1px, transparent 0px, transparent 100%);
  background-size: 6px 6px;
  z-index: 0;
}

@media screen and (min-width: 1920px) {
  .titleS::after {
    height: 50px;
    width: 100px;
  }
}

@media screen and (min-width: 560px) and (max-width: 769px) {
  .titleS::after {
    left: 23%;
  }
}

@media screen and (min-width: 1270px) and (max-width: 1290px) {
  .titleS::after {
    left: 24% !important;
  }
}

@media screen and (min-width: 770px) and (max-width: 1366px) {
  .titleS::after {
    left: 23%;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1919px) {
  .titleS::after {
    left: 20%;
  }
}

@media screen and (min-width: 1920px) {
  .titleS::after {
    left: 20%;
    top: 19px;
  }
}

.txtDec {
  font-family: "Poppins";
  font-size: 1.875rem;
  text-align: left;
  color: #335384;
  text-transform: capitalize;
}

@media screen and (min-width: 1920px) {
  .txtDec {
    left: 15%;
  }
}

@media screen and (min-width: 1920px) {
  .txtDec {
    font-size: 3rem;
  }
}

.txtPessoal {
  font-family: "Poppins";
  font-size: 0.9375rem;
  line-height: 1.5;
  color: #555555;
}

@media screen and (min-width: 1920px) {
  .txtPessoal {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 559px) {
  .txtPessoal {
    line-break: anywhere;
    text-align: justify;
    color: #555555;
  }
}

.data-info {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.data-info li {
  font-family: "Poppins";
  font-size: 0.9375rem;
  line-height: 1.5;
  color: #555555;
  text-align: left;
  margin-bottom: 8px;
}

@media screen and (min-width: 1920px) {
  .data-info li {
    font-size: 1.5rem;
  }
}

.data-info li span {
  color: #335384;
}

.data-info li .mail:hover {
  color: red;
}

.data-info li a {
  cursor: pointer;
  text-decoration: none;
  color: #555555;
}

.data-info li a:hover {
  text-decoration: none;
  color: green;
}

.oqF {
  padding: 0px 8px;
}

@media screen and (max-width: 559px) {
  .m0 {
    padding-left: 3%;
    padding-right: 35px;
    margin-left: 0px;
  }
}

@media screen and (max-width: 559px) {
  .m1 {
    padding-left: 0%;
    padding-right: 35px;
    margin-left: 0px;
  }
}

.titleS2 {
  padding-left: 10px;
  font-family: "Poppins";
  font-size: 1.5rem;
  line-height: 1;
  font-weight: bold;
}

@media screen and (max-width: 559px) {
  .titleS2 {
    padding-left: 0px;
    margin-top: 10px;
  }
}

@media screen and (min-width: 1920px) {
  .titleS2 {
    font-size: 3rem;
  }
}

.titleS2 ::after {
  margin-top: 9px;
  position: absolute;
  opacity: 0.5;
  content: '';
  height: 30px;
  width: 50px;
  background-image: -webkit-repeating-radial-gradient(center center, #335384, #335384 1px, transparent 0px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, #335384, #335384 1px, transparent 0px, transparent 100%);
  background-size: 6px 6px;
  z-index: 0;
}

@media screen and (min-width: 1920px) {
  .titleS2 ::after {
    height: 50px;
    width: 100px;
  }
}

@media screen and (min-width: 560px) and (max-width: 769px) {
  .titleS2 ::after {
    left: 25%;
  }
}

@media screen and (min-width: 1270px) and (max-width: 1290px) {
  .titleS2 ::after {
    left: 25% !important;
  }
}

@media screen and (min-height: 580px) and (max-height: 600px) {
  .titleS2 ::after {
    left: 26% !important;
  }
}

@media screen and (min-width: 770px) and (max-width: 1366px) {
  .titleS2 ::after {
    left: 23%;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1919px) {
  .titleS2 ::after {
    left: 20%;
  }
}

@media screen and (min-width: 1360px) and (max-width: 1370px) {
  .titleS2 ::after {
    left: 20%;
  }
}

@media screen and (min-width: 1920px) {
  .titleS2 ::after {
    left: 23%;
  }
}

.txtDec2 {
  font-family: "Poppins";
  font-size: 1.5rem;
  line-height: 1;
  font-weight: bold;
  text-align: left;
  color: #335384;
  text-transform: capitalize;
}

@media screen and (min-width: 1920px) {
  .txtDec2 {
    font-size: 3rem;
  }
}

.contet-6 {
  padding: 0px 8px;
  overflow: auto;
  padding-bottom: 20px;
}

@media screen and (max-width: 559px) {
  .mt-5, .my-5 {
    margin-top: 0px !important;
  }
}

.title_prin {
  display: block;
  font-family: "Poppins";
  font-size: 1.125rem;
  line-height: 1;
  color: #000000;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 15px;
}

@media screen and (max-width: 559px) {
  .title_prin {
    padding-left: 0px;
    padding-top: 0px;
  }
}

@media screen and (min-width: 1920px) {
  .title_prin {
    font-size: 1.5rem;
  }
}

.title_prin i:first-child {
  padding-left: 5px;
}

.title_prin i {
  color: #335384;
  font-size: 20px;
}

@media screen and (min-width: 1920px) {
  .title_prin i {
    font-size: 28px;
  }
}

@media screen and (min-width: 560px) and (max-width: 769px) {
  #title1 {
    margin-top: 0px !important;
  }
}

@media screen and (min-width: 1920px) {
  #title1 {
    margin-top: 5rem !important;
  }
}

.title_txt {
  display: block;
  font-family: "Poppins";
  font-size: 0.9375rem;
  line-height: 1.5;
  color: #555555;
  font-weight: initial;
  padding-left: 10px;
  padding-top: 10px;
  word-break: keep-all;
  width: 90%;
}

@media screen and (max-width: 559px) {
  .title_txt {
    padding-left: 0px;
    text-align: justify;
  }
}

@media screen and (min-width: 1920px) {
  .title_txt {
    font-size: 1.5rem;
  }
}

.titleR {
  font-family: "Poppins";
  font-size: 1.875rem;
  text-align: left;
  color: #000000;
  text-transform: capitalize;
  font-weight: bold;
}

.titleR::after {
  top: 10px;
  position: absolute;
  opacity: 0.5;
  content: '';
  height: 30px;
  width: 50px;
  background-image: -webkit-repeating-radial-gradient(center center, #335384, #335384 1px, transparent 0px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, #335384, #335384 1px, transparent 0px, transparent 100%);
  background-size: 6px 6px;
  z-index: 0;
}

@media screen and (min-width: 1920px) {
  .titleR::after {
    height: 50px;
    width: 100px;
  }
}

@media screen and (min-width: 560px) and (max-width: 769px) {
  .titleR::after {
    left: 23%;
  }
}

@media screen and (min-width: 1270px) and (max-width: 1290px) {
  .titleR::after {
    left: 16% !important;
  }
}

@media screen and (min-height: 580px) and (max-height: 600px) {
  .titleR::after {
    left: 16% !important;
  }
}

@media screen and (min-width: 770px) and (max-width: 1366px) {
  .titleR::after {
    left: 23%;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1919px) {
  .titleR::after {
    left: 20%;
  }
}

@media screen and (min-width: 1920px) {
  .titleR::after {
    left: 15%;
  }
}

.titleR2 {
  font-family: "Poppins";
  font-size: 1.875rem;
  margin-left: 7px;
  text-align: left;
  color: #000000;
  text-transform: capitalize;
  font-weight: bold;
}

@media screen and (max-width: 559px) {
  .titleR2 {
    margin-left: 0px;
  }
}

@media screen and (min-width: 1920px) {
  .titleR2 {
    font-size: 3rem;
  }
}

.titleR2::after {
  top: 10px;
  position: absolute;
  opacity: 0.5;
  content: '';
  height: 30px;
  width: 50px;
  background-image: -webkit-repeating-radial-gradient(center center, #335384, #335384 1px, transparent 0px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, #335384, #335384 1px, transparent 0px, transparent 100%);
  background-size: 6px 6px;
  z-index: 0;
}

@media screen and (min-width: 1920px) {
  .titleR2::after {
    height: 50px;
    width: 100px;
  }
}

@media screen and (max-width: 559px) {
  .titleR2::after {
    display: none;
  }
}

@media screen and (min-width: 560px) and (max-width: 769px) {
  .titleR2::after {
    left: 23%;
  }
}

@media screen and (min-width: 1270px) and (max-width: 1290px) {
  .titleR2::after {
    left: 30% !important;
  }
}

@media screen and (min-height: 580px) and (max-height: 600px) {
  .titleR2::after {
    left: 26% !important;
  }
}

@media screen and (min-width: 770px) and (max-width: 1366px) {
  .titleR2::after {
    left: 28%;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1919px) {
  .titleR2::after {
    left: 23%;
  }
}

@media screen and (min-width: 1920px) {
  .titleR2::after {
    left: 37%;
  }
}

.titleR3 {
  font-family: "Poppins";
  font-size: 1.5rem;
  line-height: 1;
  font-weight: bold;
  margin-left: 7px;
  text-align: left;
  color: #000000;
  text-transform: capitalize;
  font-weight: bold;
}

@media screen and (min-width: 1920px) {
  .titleR3 {
    font-size: 2.5rem;
    margin-bottom: 30px;
  }
}

.titleR3::after {
  top: 8px;
  position: absolute;
  opacity: 0.5;
  content: '';
  height: 30px;
  width: 50px;
  background-image: -webkit-repeating-radial-gradient(center center, #335384, #335384 1px, transparent 0px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, #335384, #335384 1px, transparent 0px, transparent 100%);
  background-size: 6px 6px;
  z-index: 0;
}

@media screen and (min-width: 1920px) {
  .titleR3::after {
    height: 50px;
    width: 100px;
  }
}

@media screen and (min-width: 560px) and (max-width: 769px) {
  .titleR3::after {
    left: 23%;
  }
}

@media screen and (max-width: 559px) {
  .titleR3::after {
    display: none;
  }
}

@media screen and (min-width: 1270px) and (max-width: 1290px) {
  .titleR3::after {
    left: 30% !important;
  }
}

@media screen and (min-height: 580px) and (max-height: 600px) {
  .titleR3::after {
    left: 26% !important;
  }
}

@media screen and (min-width: 770px) and (max-width: 1366px) {
  .titleR3::after {
    left: 21%;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1919px) {
  .titleR3::after {
    left: 17%;
  }
}

@media screen and (min-width: 1920px) {
  .titleR3::after {
    left: 21%;
  }
}

.year {
  font-family: "Poppins";
  font-size: 1.125rem;
  line-height: 1;
  color: #000000;
  display: block;
  font-weight: bold;
  text-align: right;
}

@media screen and (max-width: 559px) {
  .year {
    text-align: left;
  }
}

@media screen and (min-width: 1920px) {
  .year {
    font-size: 1.5rem;
  }
}

.nameU {
  font-family: "Poppins";
  font-size: 1.125rem;
  line-height: 1;
  color: #555555;
  display: block;
  text-align: right;
}

@media screen and (max-width: 559px) {
  .nameU {
    text-align: left;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1920px) {
  .nameU {
    font-size: 1.5rem;
  }
}

.listDiv {
  position: absolute;
  left: 37%;
  bottom: 0;
  width: 1px;
  background-color: #335384;
  top: 60px;
}

.listDiv::before {
  content: '';
  display: block;
  position: absolute;
  margin-top: 4px;
  width: 17px;
  height: 17px;
  position: absolute;
  margin-left: -8px;
  border-radius: 10px;
  background-color: #233653;
  opacity: .25;
  z-index: 0;
}

.listDiv::after {
  content: '';
  display: block;
  position: absolute;
  margin-top: 8px;
  width: 9px;
  height: 9px;
  margin-left: -4px;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid #335384;
  z-index: 1;
}

@media screen and (max-width: 559px) {
  .listDiv {
    display: none;
  }
}

.txt-uni {
  display: block;
  margin-left: 12%;
  font-family: "Poppins";
  font-size: 0.9375rem;
  line-height: 1.5;
}

@media screen and (max-width: 559px) {
  .txt-uni {
    margin-left: 0%;
    margin-top: 5px;
    font-weight: bold;
  }
}

@media screen and (min-width: 1920px) {
  .txt-uni {
    font-size: 1.5rem;
  }
}

.txt-unicon {
  display: block;
  margin-left: 12%;
  font-family: "Poppins";
  font-size: 0.9375rem;
  line-height: 1.5;
  color: #555555;
}

@media screen and (max-width: 559px) {
  .txt-unicon {
    margin-left: 0%;
    text-align: justify;
  }
}

@media screen and (min-width: 1920px) {
  .txt-unicon {
    font-size: 1.5rem;
  }
}

.listDiv2 {
  position: absolute;
  left: 37%;
  bottom: 0;
  width: 1px;
  background-color: #335384;
  top: 0px;
}

.listDiv2::before {
  content: '';
  display: block;
  position: absolute;
  margin-top: 4px;
  width: 17px;
  height: 17px;
  position: absolute;
  margin-left: -8px;
  border-radius: 10px;
  background-color: #233653;
  opacity: .25;
  z-index: 0;
}

.listDiv2::after {
  content: '';
  display: block;
  position: absolute;
  margin-top: 8px;
  width: 9px;
  height: 9px;
  margin-left: -4px;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid #335384;
  z-index: 1;
}

@media screen and (max-width: 559px) {
  .listDiv2 {
    display: none;
  }
}

.certificados {
  position: relative;
  display: table;
  table-layout: fixed;
  width: 100%;
  border: 2px solid #e5e5e5;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 20px;
  -webkit-transition: .3s;
  transition: .3s;
}

.certificados:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.img-c {
  border-radius: 5px;
}

.c-logo {
  display: table-cell;
  width: 120px;
  height: 10px;
  background-color: #f5f5f5;
  padding: 13px;
  vertical-align: middle;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

@media screen and (min-width: 1000px) and (max-width: 1030px) {
  .c-logo {
    width: 40%;
  }
}

.c-content {
  display: table-cell;
  width: 100%;
  padding: 20px;
  vertical-align: middle;
}

@media screen and (max-width: 559px) {
  .c-content {
    padding: 15px;
  }
}

.c-content .title {
  font-family: "Poppins";
  font-size: 1.125rem;
  line-height: 1;
  display: block;
  color: #000000;
  font-weight: bold;
  text-transform: capitalize;
  text-align: left;
  word-break: break-all;
}

@media screen and (min-width: 1920px) {
  .c-content .title {
    font-size: 1.5rem;
  }
}

.c-content .dt-title {
  font-family: "Poppins";
  font-size: 0.9375rem;
  line-height: 1.5;
  color: #555555;
  font-weight: initial;
  text-align: left;
}

@media screen and (max-width: 559px) {
  .c-content .dt-title {
    display: block;
  }
}

@media screen and (min-width: 1920px) {
  .c-content .dt-title {
    font-size: 1.5rem;
  }
}

.c-content .link-c {
  font-family: "Poppins";
  font-size: 0.9375rem;
  line-height: 1.5;
  color: #555555;
  font-weight: initial;
  text-align: left;
  -webkit-transition: .3s;
  transition: .3s;
}

.c-content .link-c:hover {
  color: #335384;
  text-decoration: none;
}

@media screen and (min-width: 1920px) {
  .c-content .link-c {
    font-size: 1.5rem;
  }
}

.menu-mobile {
  top: 10px;
  right: 20px;
  color: #000000;
  position: fixed;
  display: none;
}

@media screen and (max-width: 559px) {
  .menu-mobile {
    display: initial;
  }
}

.menu-mobile .btnm {
  font-size: 30px;
  color: #000000;
  text-decoration: none;
}

.mn-mobile {
  display: none;
  -webkit-transform: translate3d(0px, -50px, 0);
          transform: translate3d(0px, -50px, 0);
}

@media screen and (max-width: 559px) {
  .mn-mobile {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(47%, #233653), color-stop(80%, #335384));
    background: linear-gradient(180deg, #233653 47%, #335384 80%);
    display: initial;
    height: 100vh;
    -webkit-transform: translate3d(0px, 0, 0);
            transform: translate3d(0px, 0, 0);
    -webkit-transition: .3s;
    transition: .3s;
  }
}

.showDivcontent {
  min-width: 100%;
  height: 0px;
  display: none;
  margin-bottom: 20px;
  opacity: 0;
}

.showDivcontent.active {
  display: initial;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btnPort {
  list-style: none;
  padding: 0px;
}

.btnPort li {
  display: inline-block;
  padding: 10px 35px 10px 0px;
}

@media screen and (max-width: 559px) {
  .btnPort li {
    padding: 10px 10px 10px 0px;
  }
}

@media screen and (min-width: 1920px) {
  .btnPort li {
    font-size: 1.5rem;
  }
}

.btnPort li a {
  text-decoration: none;
  color: #555555;
  font-family: "Poppins";
  font-size: 0.9375rem;
  line-height: 1.5;
}

@media screen and (min-width: 1920px) {
  .btnPort li a {
    font-size: 1.5rem;
  }
}

.btnPort li a:hover {
  color: #335384;
}

.img-fluid1 {
  width: 100%;
  -webkit-transition: .3s;
  transition: .3s;
  height: 130px;
  border: 2px solid #D3D3D3;
  border-radius: 2px;
  margin-bottom: 3%;
}

@media screen and (max-width: 559px) {
  .img-fluid1 {
    width: 100%;
    height: 150px;
  }
}

@media screen and (min-width: 560px) and (max-width: 769px) {
  .img-fluid1 {
    max-width: 90%;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1919px) {
  .img-fluid1 {
    height: auto;
  }
}

@media screen and (min-width: 1920px) {
  .img-fluid1 {
    height: auto;
  }
}

.img-fluid1:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.img-fluid2 {
  max-width: 90%;
  -webkit-transition: .3s;
  transition: .3s;
  height: 130px;
  border: 2px solid #D3D3D3;
  border-radius: 2px;
  margin-bottom: 3%;
}

@media screen and (max-width: 559px) {
  .img-fluid2 {
    max-width: 100%;
  }
}

@media screen and (min-width: 560px) and (max-width: 769px) {
  .img-fluid2 {
    max-width: 90%;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1919px) {
  .img-fluid2 {
    height: auto;
  }
}

@media screen and (min-width: 1920px) {
  .img-fluid2 {
    height: auto;
  }
}

.img-fluid2:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.imgPort {
  margin-bottom: 3%;
}

@media screen and (max-width: 559px) {
  .imgPort {
    padding: 0px;
    margin: 0px;
    margin-bottom: 3%;
  }
}

.portall {
  text-align: center;
  color: #555555;
  text-decoration: none;
  margin-bottom: 20px;
}

@media screen and (max-width: 559px) {
  .portall {
    margin-left: calc(50% - 30px);
  }
}

.portall:hover {
  text-decoration: none;
  color: #335384;
}

@media screen and (max-width: 559px) {
  .portall:last-child {
    margin-left: 0%;
  }
}

#bike {
  height: 130px;
}

@media screen and (min-width: 560px) and (max-width: 769px) {
  #bike {
    margin-left: 0;
    height: 76%;
  }
}

@media screen and (max-width: 559px) {
  #bike {
    height: 166px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1919px) {
  #bike {
    height: 200px;
    margin-left: 0%;
  }
}

@media screen and (min-width: 1920px) {
  #bike {
    height: 250px;
    margin-left: 0%;
  }
}

.titlePort h1 {
  font-family: "Poppins";
  font-size: 1.875rem;
  color: #000000;
  font-weight: bold;
}

@media screen and (min-width: 1920px) {
  .titlePort h1 {
    font-size: 2.5rem;
  }
}

.txt-title-c h1 {
  font-family: "Poppins";
  font-size: 1.875rem;
  color: #000000;
  font-weight: bold;
}

@media screen and (min-width: 1920px) {
  .txt-title-c h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 559px) {
  .g-maps {
    width: 100%;
    height: 75%;
  }
}

@media screen and (min-width: 560px) and (max-width: 769px) {
  .g-maps {
    width: 100%;
    height: 60%;
  }
}

@media screen and (min-width: 770px) and (max-width: 1366px) {
  .g-maps {
    width: 100%;
    height: 50%;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1919px) {
  .g-maps {
    width: 110%;
    height: 50%;
  }
}

@media screen and (min-width: 1920px) {
  .g-maps {
    width: 150%;
    height: 50%;
  }
}

.card {
  background: #fcfcfc;
  padding: 20%;
  margin-bottom: 20px;
}

.card span {
  color: #555555;
  font-family: "Poppins";
  font-size: 0.9375rem;
  line-height: 1.5;
  text-align: center;
  display: block;
  font-weight: bold;
}

.img-c2 {
  color: #335384;
  margin-left: calc(50% - 7px);
  font-size: 31px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.help-txt {
  margin-top: 1rem;
  display: block;
  color: black;
  font-family: "Poppins";
  font-size: 1.5rem;
  line-height: 1;
  font-weight: bold;
}

.help-txt span {
  color: #335384;
}

.label-float textarea {
  width: 100%;
  height: 13.5rem;
}

@media screen and (min-width: 1920px) {
  .label-float textarea {
    height: 14rem;
  }
}

.label-float input, textarea {
  border: 3px solid #335384;
  background: #fff;
  outline: none;
  font-size: 16px;
  font-family: "Poppins";
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-appearance: none;
  border-radius: 0;
  width: 100%;
  height: 40px;
  font-weight: bold;
  color: #335384;
  padding-left: 10px;
  margin-bottom: 3%;
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -webkit-appearance: none;
}

.label-float input:focus textarea:focus {
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-bottom: 2px solid #335384;
  color: #335384;
  padding-left: 0px;
  margin-bottom: 1%;
}

.label-float input::-webkit-input-placeholder {
  color: transparent;
}

.label-float input:-ms-input-placeholder {
  color: transparent;
}

.label-float input::-ms-input-placeholder {
  color: transparent;
}

.label-float input::placeholder {
  color: transparent;
}

.label-float label {
  pointer-events: none;
  position: initial;
  top: 0;
  left: 0;
  margin-top: 10px;
  color: #335384;
  font-family: "Poppins";
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label {
  font-size: 16px;
  margin-top: 0;
  color: #335384;
  font-family: "Poppins";
  margin-top: -10px;
  margin-left: 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.inputs, .txt-msgs {
  padding-left: 0px;
}

@media screen and (max-width: 559px) {
  .inputs, .txt-msgs {
    padding-left: 0px;
  }
}

.btn-enviar {
  width: 30%;
  background: #fff;
  border: 2px solid #335384;
  border-radius: 20px;
  height: 40px;
  color: #335384;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
  text-transform: capitalize;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Poppins";
  font-size: 1.125rem;
  line-height: 1;
}

.btn-enviar:hover, .btn-enviar:focus {
  background: #335384;
  color: #fff;
  outline: none;
}

@media screen and (max-width: 559px) {
  .btn-enviar {
    width: 100%;
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 560px) and (max-width: 769px) {
  .btn-enviar {
    width: 50%;
  }
}

@media screen and (min-width: 770px) and (max-width: 1366px) {
  .btn-enviar {
    width: 50%;
  }
}

@media screen and (max-width: 559px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
  ::-webkit-scrollbar-track {
    color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }
}

@media screen and (min-width: 560px) and (max-width: 769px) {
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(47%, #f5f5f5), color-stop(80%, #fff));
    background: linear-gradient(180deg, #f5f5f5 47%, #fff 80%);
  }
  ::-webkit-scrollbar-thumb {
    background: #335384;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #233653;
  }
}

@media screen and (min-width: 770px) and (max-width: 1366px) {
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(47%, #f5f5f5), color-stop(80%, #fff));
    background: linear-gradient(180deg, #f5f5f5 47%, #fff 80%);
  }
  ::-webkit-scrollbar-thumb {
    background: #335384;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #233653;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1919px) {
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(47%, #f5f5f5), color-stop(80%, #fff));
    background: linear-gradient(180deg, #f5f5f5 47%, #fff 80%);
  }
  ::-webkit-scrollbar-thumb {
    background: #335384;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #233653;
  }
}

@media screen and (min-width: 1920px) {
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(47%, #f5f5f5), color-stop(80%, #fff));
    background: linear-gradient(180deg, #f5f5f5 47%, #fff 80%);
  }
  ::-webkit-scrollbar-thumb {
    background: #335384;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #233653;
  }
}
/*# sourceMappingURL=global.css.map */