@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Regular.ttf);
}

@function rem($pixel, $contexto : 16){
    @return $pixel / $contexto + rem;
  }

  @mixin tipo-15($size){
    font-family: "Poppins";
    @if $size == 15{
      font-size: rem(15);
      line-height: 1.5;
    }
  }
  
  @mixin tipo-18($size){
    font-family: "Poppins";
    @if $size == 18{
      font-size: rem(18);
      line-height: 1
    }
  }

  @mixin tipo-24($size){
    font-family: "Poppins";
    @if $size == 24{
      font-size: rem(24);
      line-height: 1;
      font-weight: bold;
    }
  }
  
  @mixin tipo-30($size){
    font-family: "Poppins";
    @if $size == 30{
      font-size: rem(30);
    
    }
  }

  @mixin tipo-36($size){
    font-family: "Poppins";
    @if $size == 38{
      font-size: rem(38);
      line-height: 1;
      font-weight: bold;
    }
  }
  
  @mixin tipo-38($size){
    font-family: "Poppins";
    @if $size == 38{
      font-size: rem(38);
      line-height: 1;
      font-weight: bold;
    }
  }
  
  @mixin tipo-56($size){
    font-family: "Poppins";
    @if $size == 56{
      font-size: rem(56);
      line-height: 1;
      font-weight: bold;
    }
  }
 
  
  @mixin section{
    display: flex;
    padding: 20px 0% 3% 0%;
    overflow: auto;
    height: auto;
    margin-left: -30px;
    background: $white;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius:15px;
    border-bottom-right-radius: 15px;
    align-items: initial;
    @include device(full){
        height: 80vh
    }
    @include device(mobile){
      border-radius: 0px;
  }
  }
  
  @mixin box-shadow($shadow...){
    -webkit-box-shadow:$shadow;
    -moz-box-shadow:$shadow;
    box-shadow: $shadow;
  }
  
  @mixin linear-gradient($direction, $color-stops...) {
    background: linear-gradient($direction, $color-stops);
  }

  @mixin paddingPadrao{
    padding: 50px;
    @include mac{
      padding: 50px 20px 50px 50px !important;
    }
    @include device(table){
      padding: 30px 10px 30px 30px !important;
    }
    @include device(mobile){
      padding: 15px;
    }
  }

  @mixin points{
    position: absolute;
        opacity: 0.5;
        content: '';
        height: 30px;
        width: 50px;
        background-image: -webkit-repeating-radial-gradient(center center, #fea621, #fea621 1px, transparent 0px, transparent 100%);
        background-image: -moz-repeating-radial-gradient(center center, #fea621, #fea621 1px, transparent 0px, transparent 100%);
        background-image: -ms-repeating-radial-gradient(center center, #fea621, #fea621 1px, transparent 0px, transparent 100%);
        -webkit-background-size: 6px 6px;
        -moz-background-size: 6px 6px;
        background-size: 6px 6px;
        z-index: 0;
        @include device(full){
          height: 50px;
          width: 100px;
        }
  }
  
  @mixin listUper{
    position: absolute;
    left: 37%;
    bottom: 0;
    width: 1px;
    background-color: $yellow;
    &::before{
        content: '';
        display: block;
        position: absolute;
        margin-top: 4px;
        width: 17px;
        height: 17px;
        position: absolute;
        margin-left: -8px;
        border-radius: 10px;
        background-color: $darkyellow;
        opacity: .25;
        z-index: 0;
    }&::after{
        content: '';
        display: block;
        position: absolute;
        margin-top: 8px;
        width: 9px;
        height: 9px;
        margin-left: -4px;
        background-color: #fff;
        border-radius: 5px;
        border: 2px solid $yellow;
        z-index: 1;
  }

}



  @mixin scrollbar{
    ::-webkit-scrollbar {
      width: 10px;
    }
  
    ::-webkit-scrollbar-track {
      @include linear-gradient(180deg, $fumaca 47%,  $white 80%);
    }
  
    ::-webkit-scrollbar-thumb {
      background: $yellow;
      border-radius:10px
    }
  
    ::-webkit-scrollbar-thumb:hover {
      background: $darkyellow;
    }
  }

  @mixin scrollbarM{
    ::-webkit-scrollbar {
      width: 0px;
    }
  
    ::-webkit-scrollbar-track {
      color: transparent;
    }
  
    ::-webkit-scrollbar-thumb {
      background: transparent;
      border-radius:0px;
    }
  
    ::-webkit-scrollbar-thumb:hover {
      background: transparent;
    }
  }